* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
  }
  footer {
    background: #3f485b;
    padding-top: 20px;
    margin: 10px;
    overflow: hidden;
  }
  .footer-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 25px;
  }
  .content-foo {
    max-width: 230px;
    min-width: 230px;
  }
  .content-foo h4 {
      font-size: 20px;
    color: #fff;
    border-bottom: 3px solid #f2c640;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .content-foo p {
    color: #ccc;
  }
  .content-foo ul {
    color: #ccc;
    list-style: none;
  }
  .content-foo .ulu .lil {
    padding: 5px 0;
    border: none;
  }
  .content-foo .ulu .lil i {
    margin-right: 8px;
    border: none;
  }
  .content-foo a {
    display: block;
    color: #ccc;
    font-size: 15px;
    padding: 5px 0;
  }
  .content-foo a:hover {
    color: #f2c640;
  }
  .copyrigth {
    background-color: #1f2b40;
    padding: 15px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .copyrigth h2 {
    font-size: 10px;
    margin: 15px 0 15px 25px;
    color: #ccc;
  }
  .copyrigth .redes-sociales {
    display: flex !important;
    text-align: center;
    font-size: 10px;
    margin-right: 15px;
  }
  .copyrigth .redes-sociales .bubble {
    width: 50px;
    height: 50px;
    border-radius: 20rem;
    background: #3f485b;
    margin: 10px;
    filter: drop-shadow(0 0 10px #000);
  }
  .copyrigth .redes-sociales .bubble:hover {
    transform: scale(1.1);
    background: #f2c640;
  }
  .copyrigth .redes-sociales .bubble i {
    color: #ccc;
    padding: 12px 0;
  }
  .copyrigth .redes-sociales .bubble:hover i {
    color: #1f2b40;
  }
  
  @media (max-width:768px){
    .footer-container{
      display: block;
      
    }
}  