*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(./imagenes/fondoopta.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
   background-attachment: fixed;
   font-family: Verdana, sans-serif;
   min-height: 100vh;
  } 

nav{
    background: #fcffff;
    height: 80px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    border-radius: 20px;
    height: 80px;
    width: 10px;
    
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: rgb(10, 10, 10);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(26, 25, 25);
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}



@keyframes blinker {
50% {
    opacity: 0;
}
}
@keyframes hideShow {
0%, 16.6%, 33.33%, 100% { width: 0; }
16.66%, 33.3% { width: auto; }
}

/* PRODUCTS */
.products .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.products .row .box{
    width: 320px;
    border: solid
}

/* MEDIAS QUERIES */
@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: flex;
    }
    nav{
        padding: 0 30px;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 10;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: #dfdfeb;
        color: rgb(27, 26, 26);
    }
    #check:checked ~ ul{
        left:0;
    }
    .banner .row h2{
        font-size: 3rem;
    } 
    .banner .btnServices{
        margin-top: 3rem;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.3rem;
    }
}